.inquery-blue-text {
    color: #355c7d;
}
.inquery-purple-text {
    color: #6c5b7b;
}
.inquery-light-purple-text {
    color: #c06c84;
}
.inquery-pink-text {
    color: #f67280;
}
.inquery-tan-text {
    color: #f8b195;
}

.inquery-blue-bg {
    background-color: #355c7d;
}
.inquery-purple-bg {
    background-color: #6c5b7b;
}
.inquery-light-purple-bg {
    background-color: #c06c84;
}
.inquery-pink-bg {
    background-color: #f67280;
}
.inquery-tan-bg {
    background-color: #f8b195;
}