### OSX template
.DS_Store

### PyCharm/Python
*.pyc
*.swp
.idea/*
__pycache__/
/out/

### Virtual Env
venv
env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml