<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Inquery</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="{% static 'inquery/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'inquery/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'inquery/css/styles.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Start your project here-->

    <!-- SCRIPTS -->
    <script type="text/javascript" src="{% static 'inquery/js/jquery-2.2.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'inquery/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'inqueryjs/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'inqueryjs/mdb.min.js' %}"></script>


</body>

</html>